.sampul {
  width: 100%;
  max-width: 21cm;
  max-height: 29.7cm;
  margin: auto;
  background: rgb(255, 223, 63);
  height: 5000px;
  padding-top: 1cm;
  padding-bottom: 1cm;
  padding-right: 1cm;
  padding-left: 1cm;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.semua {
  width: 21cm 1cm 1cm;
  height: 2.68cm;
  display: grid;
  grid-template-columns: 11cm 8cm;
}
.alt_kmps {
  padding-top: 5px;
  padding-left: 20px;
  font-size: 11px;
  letter-spacing: 1px;
  height: 2.08cm;
}
.isi_kop {
  display: grid;
  grid-template-columns: 2cm auto;
  text-align: center;
  height: 2.08cm;
}
.imgKOP {
  text-align: center;
}
.log {
  width: 2cm;
  margin-top: 5px;
}
.stmik_ikmi_cirebon {
  font-size: 9.2px;
  letter-spacing: 1px;
  font-weight: bold;
  background: lightgreenz;
  padding-right: 5px;
  padding-top: 5px;
}
.alt_kmps {
  padding-top: 5px;
  padding-left: 20px;
  font-size: 11px;
  letter-spacing: 1px;
  height: 2.08cm;
}
head {
  display: grid;
  grid-template-columns: 5.7cm auto;
}
.universitas {
  font-size: 60px;
  font-weight: bold;
  color: rgb(255, 0, 132);
  margin-top: -5px;
  letter-spacing: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.ikmi {
  padding-left: 10px;
  margin-top: -67px;
  font-weight: bold;
  color: blue;
  background: lightbluez;
  font-size: 33px;
  letter-spacing: 10px;
}
.daerah {
  padding-left: 10px;
  color: green;
  letter-spacing: 5.5px;
  font-size: 16px;
  margin-top: -7px;
}
.ak_kampus {
  text-align: center;
  color: white;
  background: rgb(2, 240, 161);
}
.sk {
  text-align: center;
  color: white;
  background: rgb(255, 194, 61);
}

.css {
  height: 2.68cm 2.68cm;
  padding-top: 1.5px;
}
.jdl_surat {
  width: 21cm 1cm 1cm;
  height: 29.7cm 1cm 1cm 2.68cm;
}
.keterangan_surat {
  text-align: center;
  margin: 15px 0 0 0;
  font-size: 16pt;
  letter-spacing: 2px;
  text-decoration: underline;
}
.no_surat {
  text-align: center;
  font-size: 16px;
  margin-top: -3px;
  font-family: consolas;
}
.stmik_ikmi_cirebon {
  font-size: 9.2px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  background: lightgreenz;
  padding-right: 5px;
  padding-top: 5px;
}
.nm_kampus {
  text-align: right;
}
